<ng-container *ngIf="vm$ | async as vm">
  <div style="background: yellow; padding: 10px; margin: 10px;">
  <h4>Debug Info:</h4>
  <p>Step 0 completed: {{ getStepCompleted(0) }}</p>
  <p>Step 1 editable: {{ getStepEditable(1) }}</p>
  <p>Current step: {{ selectedIndex }}</p>
  <p>Edit mode: {{ isEditMode$ | async }}</p>
</div>
  <mat-stepper
    #stepper
    class="responsive-stepper"
    [linear]="!vm.isEditMode"
    [orientation]="(stepperOrientation | async)!"
    [selectedIndex]="selectedIndex"
    (selectionChange)="onStepChange($event)"
  >
    <app-loading></app-loading>

    <mat-step [completed]="getStepCompleted(0)" [editable]="getStepEditable(0)">
      <ng-template matStepLabel>
        (ISB) İhracat Sipariş Bildirimi Yükleme @if (vm.isEditMode) {<span
          class="edit-mode-badge"
          >DÜZENLEME</span
        >}
           <mat-spinner *ngIf="step0Loading$ | async" diameter="16" class="step-spinner"></mat-spinner>
      </ng-template>

      @if (selectedIndex === 0 || vm.isEditMode) {
      <app-invoice-upload
        #invoiceUploadComponent
        (invoiceUploaded)="invoiceUploaded()"
        (configurePallet)="configureEditModeInPalletComponent()"
      >
      </app-invoice-upload>
      }
    </mat-step>

    <mat-step [completed]="getStepCompleted(1)" [editable]="getStepEditable(1)">
      <ng-template matStepLabel>
        Palet Kontrolü @if (vm.isEditMode) {<span class="edit-mode-badge"
          >DÜZENLEME</span
        >}
         <mat-spinner *ngIf="step1Loading$ | async" diameter="16" class="step-spinner"></mat-spinner>
      </ng-template>

      @if (selectedIndex === 1 || vm.isEditMode) {
      <app-pallet-control #palletControlComponent> </app-pallet-control>
      }
    </mat-step>

    <mat-step [completed]="getStepCompleted(2)" [editable]="getStepEditable(2)">
      <ng-template matStepLabel>
        Sonuç Ekranı @if (vm.isEditMode) {<span class="edit-mode-badge"
          >DÜZENLEME</span
        >}
         <mat-spinner *ngIf="step2Loading$ | async" diameter="16" class="step-spinner"></mat-spinner>
      </ng-template>

      @if (selectedIndex === 2 || (vm.isEditMode && getStepCompleted(1))) {
      <app-result-step
        #resultStepComponent
        (shipmentCompleted)="onShipmentCompleted()"
      >
      </app-result-step
      >}
    </mat-step>
  </mat-stepper>

  @if(true){
    <br><br><br><br><br>
  <ng-container>
    <div class="debug-info"style="margin-top:110px">
      <h4>🐛 Debug Info (Performance Optimized)</h4>
      <p><strong>Current Step:</strong> {{ vm.currentStep }}</p>
      <p><strong>Edit Mode:</strong> {{ vm.isEditMode }}</p>
      <p><strong>Edit Order ID:</strong> {{ vm.editOrderId }}</p>
      <p>
        <strong>Progress:</strong> {{ vm.stepperSummary.progressPercentage }}%
      </p>
      <p>
        <strong>Completed Steps:</strong>
        {{ vm.stepperSummary.completedSteps | json }}
      </p>
    </div>
  </ng-container>

  }
</ng-container>

@if (!(vm$ | async)) {
<ng-container>
  <div class="stepper-loading">
    <app-loading></app-loading>
    <p>Stepper hazırlanıyor...</p>
  </div>
</ng-container>
}
