<ng-container>

  <mat-stepper #stepper class="responsive-stepper" [orientation]="(stepperOrientation | async)!"
    [linear]="!isEditModeSignal()" [selectedIndex]="selectedIndexSignal() - 1"
    (selectionChange)="onStepChange($event)">
    <app-loading></app-loading>

    <mat-step [completed]="(completedStepsSignal() >= 1)" [editable]="true">
      <ng-template matStepLabel>
        (ISB) İhracat Sipariş Bildirimi Yükleme @if (isEditModeSignal()) {<span
          class="edit-mode-badge">DÜZENLEME</span>}
        @if (invoiceUploadLoadingSignal()) {
        <mat-spinner diameter="16" class="step-spinner"></mat-spinner>
        }
      </ng-template>
      <app-invoice-upload #invoiceUploadComponent>
      </app-invoice-upload>
    </mat-step>

    <mat-step [completed]="(completedStepsSignal() >= 2)" [editable]="(completedStepsSignal() >= 1)">
      <ng-template matStepLabel>
        Palet Kontrolü @if (isEditModeSignal()) {<span class="edit-mode-badge">DÜZENLEME</span>}
        @if(palletControlLoadingSignal()){
        <mat-spinner diameter="16" class="step-spinner"></mat-spinner>
        }
      </ng-template>
      <app-pallet-control #palletControlComponent> </app-pallet-control>
    </mat-step>

    <mat-step [completed]="completedStepsSignal() === 2" [editable]="completedStepsSignal() === 2">
      <ng-template matStepLabel>
        Sonuç Ekranı @if (isEditModeSignal()) {<span class="edit-mode-badge">DÜZENLEME</span>}
        @if(resultControlLoadingSignal()){
        <mat-spinner diameter="16" class="step-spinner"></mat-spinner>
        }
      </ng-template>
      <app-result-step #resultStepComponent (shipmentCompleted)="onShipmentCompleted()">
      </app-result-step>
    </mat-step>

  </mat-stepper>

</ng-container>