<mat-toolbar>
  <mat-toolbar-row color="primary">
    <button *ngIf="isToggleButton" mat-icon-button (click)="sidenavOpen.emit(null);">
      <mat-icon>menu</mat-icon>
    </button>

    <!-- Logo kısmı -->
    <div class="logo-container">
      <img routerLink="/admin" [src]="companyLogo" alt="Bin Packing Logo" class="logo">
    </div>

    <mat-divider></mat-divider>
    <span class="spacer"></span>

    <div mat-button [matMenuTriggerFor]="profileMenu" class="profile-menu">
      <img [src]="this.profilePhoto" class="profile-photo" alt="">
    </div>

  </mat-toolbar-row>
</mat-toolbar>

<mat-menu #profileMenu="matMenu">
  <button mat-menu-item [routerLink]="['/admin/profile']">Profil</button>
  <button mat-menu-item (click)="logout()">Çıkış Yap</button>
</mat-menu>
