<form [formGroup]="secondFormGroup">
  <div class="row">
    <!-- ÜRÜNLER BÖLÜMÜ -->
    <div class="col-md-2">
      <div class="example-container">
        <h2 class="text-center">Ürünler</h2>
        <div
          cdkDropList
          #productsList="cdkDropList"
          id="productsList"
          [cdkDropListData]="availableProducts"
          [cdkDropListConnectedTo]="palletProductsLists"
          class="example-list"
          (cdkDropListDropped)="dropProductToPallet($event)"
        >
          <div class="example-box" *ngFor="let product of availableProducts" cdkDrag (cdkDragStarted)="dragStarted($event)" (cdkDragEnded)="dragEnded()"[cdkDragData]="product">
            {{ product.name }}
            <button mat-icon-button class="small-icon-button" (click)="splitProduct(product)">
              <mat-icon class="icon-display">content_cut</mat-icon>
            </button>
          </div>

          <div class="empty-message" *ngIf="availableProducts.length === 0">
            Tüm ürünler paletlere yerleştirildi.
          </div>
        </div>
      </div>
    </div>

    <!-- PAKETLER BÖLÜMÜ -->
    <div class="col-md-8">
      <h2 class="text-center">Paketler</h2>
      <div class="packages-container">
        <div class="package-box" *ngFor="let package of packages; let i = index">
          <div class="package-header">
            <h5 class="text-center">Palet {{i + 1}}</h5>
          </div>

          <!-- Paket içeriği -->
          <div
            cdkDropList
            [id]="package.id"
            [cdkDropListData]="[]"
            [cdkDropListConnectedTo]="['palletsList']"
            class="package-items"
            (cdkDropListDropped)="dropPalletToPackage($event)"
          >
            <!-- Eğer paket içinde palet varsa göster -->
            <div class="pallet-in-package" *ngIf="package.pallet">
              <div class="pallet-header">
                <span class="text-center">Palet {{ package.pallet.name }}</span>
                <button mat-icon-button class="small-icon-button" (click)="removePalletFromPackage(package)">
                  <mat-icon class="icon-display">close</mat-icon>
                </button>
              </div>

              <!-- Palet içindeki ürünler -->
              <div
                  cdkDropList
                  [id]="package.pallet.id"
                  [cdkDropListData]="package.products"
                  [cdkDropListConnectedTo]="palletProductsLists"
                  class="pallet-items"
                  (cdkDropListDropped)="dropProductToPallet($event)">
                <div
                      class="product-in-pallet"
                      *ngFor="let product of package.products; let j = index"
                      cdkDrag
                      [cdkDragData]="product"
                      (cdkDragStarted)="dragStarted($event)"
                      (cdkDragEnded)="dragEnded()">
                      {{ product.name }}
                      <button mat-icon-button (click)="removeProductFromPackage(package, j)">
                        <mat-icon class="icon-display">close</mat-icon>
                      </button>
                    </div>

                <!-- Boş palet mesajı -->
                <div class="empty-message" *ngIf="package.products.length === 0">
                  Bu palet boş. Ürün sürükleyin.
                </div>
              </div>
            </div>

            <!-- Boş paket mesajı -->
            <div class="empty-message" *ngIf="!package.pallet">
              Bu pakete bir palet yerleştirin.
            </div>
            <div class="text-center"></div>
          </div>
        </div>
      </div>
    </div>

    <!-- PALETLER BÖLÜMÜ -->
    <div class="col-md-2">
      <div class="example-container">
        <h2 class="text-center">Paletler</h2>
        <div
          cdkDropList
          #palletsList="cdkDropList"
          id="palletsList"
          [cdkDropListData]="availablePallets"
          [cdkDropListConnectedTo]="packageIds"
          class="example-list"
          (cdkDropListDropped)="dropPalletToPackage($event)"
        >
          <div class="example-box" *ngFor="let pallet of availablePallets" cdkDrag>
            {{ pallet.name }}
          </div>

          <div class="empty-message" *ngIf="availablePallets.length === 0">
            Henüz palet bulunmamaktadır.
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-4">
    <button mat-button matStepperPrevious>Geri</button>
    <button mat-button (click)="submitForm()" matStepperNext>İleri</button>
  </div>
</form>
