<h2 mat-dialog-title>Sipariş Detayı Ekle</h2>
<mat-dialog-content>
  <form [formGroup]="orderDetailForm" (ngSubmit)="onSubmit()">
    <div class="form-container m-3">
      <!-- Arama Seçenekleri Tablar -->
      <mat-tab-group (selectedIndexChange)="onTabChange($event)">
        <!-- İsim/Kod Araması -->
        <mat-tab label="Metin Araması">
          <div class="tab-content">
            <mat-form-field appearance="fill" class="full-width">
              <mat-label>Ürün Ara</mat-label>
              <input type="text" placeholder="Ürün kodu veya tip numarası için en az 3 karakter yazın" matInput
                formControlName="product" [matAutocomplete]="auto">
              <!-- TODO: burada bind(this) ne ise yariyor ve ihtiyac varmi
                           bunun yerine product.name kullanmak dogru olur mu?-->
              <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayProductFn.bind(this)">
                <mat-option *ngIf="isLoading" class="loading-indicator">
                  <mat-spinner diameter="20"></mat-spinner> Aranıyor...
                </mat-option>

                <mat-option *ngIf="hasError" class="error-message">
                  <span class="error-text">{{ errorMessage }}</span>
                </mat-option>

                <ng-container *ngIf="!isLoading && !hasError">
                  <mat-option *ngIf="filteredProducts.length === 0" disabled>
                    Sonuç bulunamadı
                  </mat-option>
                  <mat-option *ngFor="let product of filteredProducts" [value]="product"
                    (click)="selectProduct(product)">
                    {{ product.name }}
                  </mat-option>
                </ng-container>
              </mat-autocomplete>
              <mat-hint>Ürün kodu veya tip numarasıyla arama yapın</mat-hint>
            </mat-form-field>
          </div>
        </mat-tab>
      </mat-tab-group>

      <!-- Sipariş Detay Bilgileri -->
      <div class="order-details-section">
        <h3>Sipariş Bilgileri</h3>

        <!-- Miktar -->
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Miktar</mat-label>
          <input type="number" matInput formControlName="count" min="1">
          @if(orderDetailForm.get('count')?.hasError('required')){
            <mat-error >
              Miktar girilmesi zorunludur
            </mat-error>
          }
          @if(orderDetailForm.get('count')?.hasError('min')){
            <mat-error >
              Miktar en az 1 olmalıdır
            </mat-error>
          }
        </mat-form-field>


        <!-- Seçilen Ürün Bilgisi -->
        <div class="selected-product"
          *ngIf="orderDetailForm.get('product_id')?.value && orderDetailForm.get('product_id')?.value.id">
          <h4>Seçilen Ürün</h4>
          <div class="product-detail-box">
            <div class="product-detail-item">
              <strong>Kod-Tip:</strong>
              {{ orderDetailForm.get('product_id')?.value.product_type?.code }}-{{
              orderDetailForm.get('product_id')?.value.product_type?.type }}
            </div>
            <div class="product-detail-item">
              <strong>Boyutlar:</strong>
              {{ orderDetailForm.get('product_id')?.value.dimension?.width }}x
              {{ orderDetailForm.get('product_id')?.value.dimension?.height }}x
              {{ orderDetailForm.get('product_id')?.value.dimension?.depth }}
              {{ orderDetailForm.get('product_id')?.value.dimension?.unit }}
            </div>
            <div class="product-detail-item">
              <strong>Hacim:</strong>
              {{ orderDetailForm.get('product_id')?.value.dimension?.volume }} mm³
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end" style="margin-right: 40px;">
  <button mat-button (click)="onCancel()">İptal</button>
  <button mat-raised-button color="primary" [disabled]="orderDetailForm.invalid" (click)="onSubmit()">Kaydet</button>
</mat-dialog-actions>
